# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Variáveis de ambiente (NÃO versionar suas chaves do Firebase)
.env
.env.local

# macOS
.DS_Store

# Logs
*.log

# Editor
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
